*{
	margin:0px;
	padding:0px;
	font-family: Bai Jamjuree;
	box-sizing: border-box;
}

.header{
	width: 100%;
	height: 70px;
	background-color: #daddea;
	color: black;
	position: fixed;
	z-index: 1;



}
.logo_text{
	float: left;
	margin-top:10px;
}
.logo_text img{
	width: 40px;
	height: 40px;
	float: left;
	margin-left: 30px;
}
.logo_text h1{
 float: left;
 padding-top: 10px;
 padding-left: 20px;
 font-size: 25px;
 font-weight: bolder;
}
.menu{
	margin-left: 11px;
	margin-top: 20px;
	align-items: center;
	float: left;
}
.menu ul li{
	display: inline-block;
	padding-left: 15px;
}
.menu ul li a{
	color: black;
	font-size: 20px;
	font-weight: normal;
	padding-left: 15px;
	text-decoration: none;
}
.menu ul li a:hover{
text-decoration: underline;
}
.header_button button {
	float: right;
	margin-top: 15px;
	margin-right: 30px;
	border:2px solid;
	border-color: black;
	background-color: black;
	color: white;
	font-weight: bold;
	padding:10px 30px;
}
@media (max-width: 991px)
{
	.menu,.header_button{
		display: none;
	}
}
.main_consulting_service{
	background-image: url('img/mbr-6.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 700px;


}
.main_consulting_text{
	background-color: #daddea;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size:cover;
	height: 630px;
	width: 100%;
	position: relative;
	top: 70px;

}
.consulting_text{
	opacity: 1;
	margin: auto;
	width: 80%;
	position: relative;
  	top: 35%;
  	transform: translateY(-50%);

}
.consulting_text p{
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
.consulting_text h1{
	font-weight: bolder;
	font-size: 100px;
	text-align: center;
	opacity: 1;
	color: black;
}
.consulting_links{
		
		position: relative;
		width: 60%;
  		top: 38%;
  		left: 70%;
  		transform: translate(-50%,-50%);


}

.consulting_links a{

	font-size: 22px;
	padding: 10px;
	font-weight: bolder;
	color: black;
	text-align: center;

}
.consulting_links a:hover{
	text-decoration: none;
}

.main_features{
	width: 100%;
	height: auto;
	background-color: black;
}
.features_heading {

	width: 100%;
	height: auto;
	align-items: center;
}
.features_heading h1{
	color: white;
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 80px;
	padding: 20px 0px;

}
.features_row{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.features_columns{
	width: 300px;
	height: 600px;
	margin: auto;
	color: white;
	padding: 30px 5px;

}
.features_columns img{
	width: 100%;
	margin: 20px 0px;
}
.features_columns h4{
	font-size: 20px;
	font-weight: 700;
	padding: 20px 0px;
}
.features_columns p{
	font-size: 18px;

}
.information_section{
	background-color:#daddea;
	width: 100%; 
	height: auto;
	display: flex;
	flex-wrap: wrap;

	padding: 50px 80px 0px 80px;
	
}
.section{
	margin: 50px 0px;
	width: 500px;
	height: 300px;
	margin:0px 40px 50px 40px;
	padding: 0px 5px;
	align-items: center;
}
.section p{
	font-size: 20px;
	letter-spacing: 1px;
}
.section_button{
	background-color:#daddea;
	height: auto;
	width: 100%;
	padding:0px 0px 50px 10px;
}
.section_button button{
	background-color: #66458e;
	border-color: #66458e;
	color: white;
	font-size: 20px;
	margin-left: 120px;
	padding: 10px 30px;
}
.section_button button:hover{
	background-color: #533675;
}
.analyze_section{
	width: 100%;
	height: auto;
	background-color: black;
	color: white;

	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-around;
}
.analyze_text{
	width: 50%;
	padding-left:80px;

}

.analyze_text_paragraph p{
	font-size: 20px;
	margin-bottom: 50px;
}
.analyze_text_heading{
	margin-top: 80px;
	margin-bottom: 80px;
}
.analyze_text_heading sup{
	padding-right: 20px;
	font-size: 20px;
}
.analyze_text_heading h4{
	margin-top: 30px;

	font-size: 30px;
	font-weight: 700;
	
	
}
.analyze_text_link a{
	color: white;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}
.analyze_text_link a:hover{
	text-decoration: none;
}
.analyze_image {
	margin-top: 80px;
	height: auto;
	margin-bottom: 80px;
	margin-right: 80px;
	align-items: center;
}
.analyze_image img{
	width: 500px;
	height: 400px;
	
}
.strategy{
	width:100%;
	height: auto;
	background-color:  #daddea;
	display: flex;
	padding: 80px;
	flex-wrap: wrap;
}
.strategy_text h2{
	font-size: 40px;
	font-weight: 700;
	padding:10px;

}
.strategy_text p{
	font-size: 20px;
	letter-spacing: 1px;
	padding: 10px;
}
.strategy_button{
	margin-top: 40px;
	justify-content: space-around;
	padding-left: 250px;
}
.strategy_button button{

	background-color: #66458e;
	padding: 10px 30px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
}
.strategy_button button:hover{
	background-color: #533675;
}
@media(max-width: 991px)
{
	.strategy_button{
	margin-top: 40px;
	justify-content: space-around;
	padding-left: 20px;
}
.strategy_button button{

	background-color: #66458e;
	border-color: #66458e;
	padding: 10px 30px;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
}
}